<div class="status mb-10">
  <div class="text">
    <span>🌟</span>
    <span>Get 5% Off your first order,</span>
    <span class="text-decoration"> Promo: ORDER5</span>
  </div>
  <div class="location">
    <img src="assets/images/location.png" alt="">
    <span>Regent Street, A4, A4201, London</span>
    <span class="text-decoration"> Change Location</span>
  </div>
  <div class="cart">
    <span class="cart-icon"><img src="assets/images/cart-1.png" alt=""></span>
    <span class="cart-count">23 items</span>
    <span class="cart-amount">GBP 79.89</span>
    <span class="download"><img src="assets/images/download.png" alt=""></span>
  </div>
</div>
