<div class="cover flex row justify-between align-center mt-10 h-7/12">
  <div class="details">
    <p>Order Restaurant food, takeaway and groceries.</p>
    <p>Feast Your Senses,</p>
    <p>Fast and Fresh</p>
    <p>Enter a postcode to see what we deliver</p>
    <div class="field flex row justify-between">
      <input type="text" placeholder="e.g. EC4R 3TE" />
      <button>search</button>
    </div>
  </div>
  <div >
       <img class=" first" src="assets/images/cover1.png" alt="cover image" />
       <img class=" second" src="assets/images/cover2.png" alt="cover image" />
  </div>
  <div class="card-container">
      <div class="cards">
      <div class="card">
        <img class="logo" src="assets/images/logo.png" alt="cover image" />
        <p>We’ve Received your order!</p>
        <p>Awaiting Restaurant acceptance</p>
      </div>
      <div class="card">
        <img class="logo" src="assets/images/logo.png" alt="cover image" />
        <p>Order Accepted!</p>
        <p>Your order will be delivered shortly</p>
      </div>
      <div class="card">
        <img class="logo" src="assets/images/logo.png" alt="cover image" />
        <p>Your rider's nearby </p>
        <p>They're almost there - get ready!</p>
      </div>
    </div>
  </div>
</div>





